body{
    background-color: black;
    margin: 0px;
}
h2{
    margin:0;
}
p, ul{
    margin: 2px;
    font-size: 1.5rem;
    color:black;
}
a{
    color:black;
}
.header{
    width: auto;
    height: 10rem;
    background-color: hsl(0, 0%, 50%);
    display: flex;
    justify-content: space-around;
}
.logo-container{
    display:flex;
    align-items: center;
}
.logo{
    width:auto;
    height:9rem;
}
.social{
    width:auto;
    height:5rem;
}
.title-container{
    display: flex;
    align-items: center;
}
.socials{
    width:15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    display: flex;
    width: auto;
    height: auto;
    background-color: hsl(39, 100%, 40%);
}
.menu-container{
    width: 25%;
    background-color: purple;
    flex: initial;
}
.menu{
    padding: 1rem;
    background-color: purple;
    flex: auto;
    
}
.content-container{
    width: 75%;
    flex: initial;
    background-color: hsl(39, 100%, 40%);
}
.content{
    padding: 1rem;
    background-color: hsl(39, 100%, 40%);
    
}
.footer{
    width: auto;
    height: 10rem;
    background-color: hsl(0, 0%, 25%);
    display:flex;
    align-items: center;
    justify-content: center;
}
.footer-container{
    display: flex;
}
.ifpr-logo{
    width:auto;
    height:4rem;
}

/*
creation
*/
.creation-image{
    width: auto;
    height:20rem;
}

/*
athletes
*/
.photo-grid{
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
}
.card-tall{
    grid-row: span 2/auto;
}
.card-wide{
    grid-column: span 2/auto;
}

/*
Imagens
*/
.table-pic{
    height:auto;
    width:10rem;
}